#postList{
	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.profilePic{
	width: 80px;
	height: 80px;
}

.post-box{
	padding: 16px 0 0 16px;
	// border: 1px solid ;
}

::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}